{% extends "base.html.twig" %}

{% block title %}Ajout Personne{% endblock %}

{% block body %}
    <a href="{{ path('index') }}">Retour</a>

    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}