{% extends "base.html.twig" %}

{% block title %} Index
{% endblock %}

{% block body %}<h1>Welcome</h1>
<a href="{{ path("newPerson") }}">Clique pour add une personne</a>
    <a href="{{ path("newMaterial") }}">Clique pour add un material</a>
    <a href="{{ path("newInventory") }}">Clique pour add un inventory</a>
    <ul>
        {% for person in persons %}
            <li>nom : {{ person.name }} ; poids max : {{ person.maxWeight }}</li>
        {% endfor %}
    </ul>
{% endblock %}
