<a href="{{ path("new_player") }}">Clique pour add un joueur</a><br>
<a href="{{ path("new_item") }}">Clique pour add un item</a><br>
<a href="{{ path("new_playerItem") }}">Clique pour add un player item</a><br>
<a href="{{ path("list_player") }}">Liste des joueurs</a><br>
<a href="{{ path("list_item") }}">Liste des items</a><br>